{% extends "layout.html" %}

{% block title %}
    Instructions
{% endblock %}

{% block body %}
        <div class="form-group">
            <p style="font-family: Arial, serif, "Times New Roman"">

                <h1 style = "text-align:left"><b>Here are some instructions on usage:<b/><h1/>
                    <h3 style = "text-align:left">    1. Write everything you want to solve in such way: x -7 +5 = 4 , othervise you will never check the answer;<h3/>
                    <h3 style = "text-align:left">    2. If you want something new to appear here, contact us: solvingmathonline@gmail.com .<h3/>
                    <h3 style = "text-align:left">    3. Power of 2 is **2<h3/>
                    <h3 style = "text-align:left">    4. OBEY THE RULES!!!<h3/>

                <h3 style = "text-align:left">When you know the rules, you can do your algebra homework here.<h3>
            </p>
        <div/>

{% endblock %}
